/* GERAL */
h1 {
    color: #0d3b66;
    text-align: center;
}
#main{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.single-image img{
    width: calc(33% - 20px);
    margin: 10px;
    float: left;
}

.btn{
    width: 100%;
    float: left;
    text-align: center;
}
#load-more{
    background-color: #0d3b66;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;

}
#load-more:disabled{
    background-color: #ccc;
    color:#0d3b66;
}
@media screen and (max-width: 768px) {

    .single-image img{
        width: calc(100% - 20px)
    }
}
@media screen and (min-width: 769px) and (max-width: 970px) {
    .single-image img{
        width: calc(50% - 20px)
    }
}
/********************
    FOOTER 
********************/
footer{
    float: left;
    width: 100%;
}
footer .copyright{
    padding:5px 0 5px;
    font-size:1.1em;

}

footer .copyright a{
    color:#0d3b66;
    text-decoration: none;
}

