/* GERAL */
header {
    color: #000;
    text-align: center;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.single-image img{
    width: calc(33% - 20px);
    margin: 10px;
    float: left;
}

.load-more{
    width: 100%;
    float: left;
    text-align: center;
}
.btn{
    padding: 16px 32px;
    margin: 32px 0;
    font-size: 1.25em;
    background-color: #000;
    color: #fff;
}
.btn:hover,
.btn:focus{
    background-color: #db0624;
}

.btn:disabled{
    background-color: #ccc;
}
@media screen and (max-width: 768px) {

    .single-image img{
        width: calc(100% - 20px)
    }
}
@media screen and (min-width: 769px) and (max-width: 970px) {
    .single-image img{
        width: calc(50% - 20px)
    }
}
/********************
    FOOTER 
********************/
footer{
    float: left;
    width: 100%;
}

footer .copyright{
    padding:5px 0 5px;
    font-size:1.1em;
    text-align: center;
}
footer .copyright a{
    color:#db0624;
    text-decoration: none;
}
footer .copyright p{margin-top: 16px;}
footer .copyright img{width: 1em;}
